<div class="position-sticky" style="top: 2rem;">
    <%- include('about.ejs')%>
        <%- include('archives.ejs')%>

          <div class="p-4">
            <%- include('socials.ejs')%>
          </div>
      </div>
  </div>