
  <main class="form-signup">
    <form method="post" action="/signup">
      <!-- <img class="mb-4" src="/docs/5.1/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
      <h1 class="h3 mb-3 fw-normal">Inscreva-se</h1>

      <% if (error) { %>
        <div class="alert alert-danger" role="alert">
          <%= error.message %>
        </div>
      <% } %>


      <div class="form-floating">
        <input type="text" required="true" class="form-control" id="floatingInput" placeholder="Nome de usuario"  name="username">
        <label for="floatingInput">Nome de usuario</label>
      </div>

      <div class="form-floating" style="margin-top: 20px;">
        <input type="email" required="true" class="form-control" id="floatingInput" placeholder="Digite o Email" name="email">
        <label for="floatingInput">Email</label>
      </div>
      <div class="form-floating" style="margin-top: 20px;">
        <input type="password" required="true" class="form-control" id="floatingPassword" placeholder="Senha"  name="password">
        <label for="floatingPassword">Senha</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
    </form>
  </main>

